<div class="h-screen overflow-hidden grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 grid-rows-3 items-center justify-between p-2 sm:p-4 gap-2">

    <!-- Player 2: row 2, col 1 -->
    <div class="col-start-1 row-start-2 flex flex-col items-center justify-center p-6 relative">
        <div 
            class="mb-2 font-bold text-lg sm:text-xl px-2 py-1 rounded transition-colors"
            [ngClass]="{
                'bg-white text-black': this.gameState.players()[(3+this.gameState.activeOffsetPos())%4].placement == gameState.activePlayerPos(),
                'text-white': gameState.players()[(3+gameState.activeOffsetPos())%4].placement !== gameState.activePlayerPos()
            }">
            {{ gameState.players()[(3 + gameState.activeOffsetPos()) % 4].nickname }}
        </div>

        <div class="relative h-48 sm:h-64 w-32">
            @for (i of this.player2(); track i) {
            <div 
                [ngStyle]="{
                    top: (i*12) + 'px',
                    'background-image': 'url(assets/svg/cards/card_background/background.svg)'
                }"
                class="absolute w-24 h-36 bg-no-repeat bg-cover bg-center border-white border-2 rounded shadow flex items-center justify-center text-white rotate-[90deg] transform">
            </div>
            }
        </div>
    </div>

    <!-- middle: draw Card & place Card -->
    <div class="col-start-2 row-start-2 flex flex-col items-center justify-center p-6">
        <div class="flex items-center justify-center mb-6 space-x-4">
            <!-- draw card stack -->
            <button 
                hlmBtn 
                (click)="drawCard()" 
                class="w-32 sm:w-48 h-48 sm:h-60 rounded-lg shadow flex flex-col items-center justify-center text-white text-lg sm:text-3xl cursor-pointer transition-transform hover:scale-105 bg-no-repeat bg-cover bg-center border-white border-2"
                style="background-image: url(assets/svg/cards/card_background/background.svg)"
            >
                <span>DRAW</span>
                <span class="h-6"></span>
                @if (gameState.drawModifier() !== 0){
                    +{{gameState.drawModifier()}}
                } @else {
                    &nbsp;
                }
            </button>

            <!-- middle card -->
            <div class="w-32 sm:w-48 h-48 sm:h-60 relative flex flex-col bg-transparent border-none rounded-lg items-center justify-center">
                <app-svg-icon
                    *ngIf="topCard"
                    class="w-full h-full object-contain"
                    [src]="topCard.asset">
                </app-svg-icon>
            </div>
        </div>
    </div>

    <!-- Player 3: row 1, col 2 -->
    <div class="col-start-2 row-start-1 flex flex-col items-center justify-center p-6">
        <div
            class="text-black mb-2 font-bold text-lg sm:text-xl px-2 py-1 rounded"
            [ngClass]="{
                'bg-white text-black': gameState.players()[(2+gameState.activeOffsetPos())%4].placement == gameState.activePlayerPos(),
                'text-white': gameState.players()[(2+gameState.activeOffsetPos())%4].placement !== gameState.activePlayerPos()
            }">
                {{ gameState.players()[(2+gameState.activeOffsetPos())%4].nickname }}
        </div>

        <div class="relative h-32 w-[140px] sm:w-[160px]">
            @for (i of this.player3(); track i) {
            <div 
                [ngStyle]="{
                    left: (i*12) + 'px',
                    'background-image': 'url(assets/svg/cards/card_background/background.svg)'
                }"
                class="absolute w-24 h-36 bg-no-repeat bg-cover bg-center border-white border-2 rounded shadow flex items-center justify-center text-white">
            </div>
            }
        </div>
    </div>

    <!-- Player 4: row 2, col 3 -->
    <div class="col-start-3 row-start-2 flex flex-col items-center justify-center p-6 relative">
        <div 
            class="text-black mb-2 font-bold text-lg sm:text-xl px-2 py-1 rounded"
            [ngClass]="{
                'bg-white text-black': gameState.players()[(1+gameState.activeOffsetPos())%4].placement == gameState.activePlayerPos(),
                'text-white': gameState.players()[(1+gameState.activeOffsetPos())%4].placement !== gameState.activePlayerPos()
            }">
                {{ gameState.players()[(1+gameState.activeOffsetPos())%4].nickname }}
        </div>

        <div class="relative h-48 sm:h-64 w-32">
            @for (i of this.player4(); track i) {
            <div 
                [ngStyle]="{
                    top: (i*12) + 'px',
                    'background-image': 'url(assets/svg/cards/card_background/background.svg)'
                }"
                class="absolute w-24 h-36 bg-no-repeat bg-cover bg-center border-white border-2 rounded shadow flex items-center justify-center text-white rotate-[90deg] transform">
            </div>
            }
        </div>
    </div>

    <!-- own cards: row 3, col 2 -->
    <div class="col-start-2 row-start-3 relative flex justify-center p-6">
        
        <!-- indicator for own player -->
        <div *ngIf="gameState.activePlayerPos() === gameState.activeOffsetPos()" class="absolute -top-4 sm:-top-6 left-1/2 -translate-x-1/2 bg-white text-black text-sm sm:text-base px-3 py-1 rounded shadow z-10 font-semibold">
            Your Turn
        </div>

        <div class="relative flex justify-center items-center sm:h-[25vh] w-full max-w-7xl">
            <ng-container *ngFor="let card of playerCards; let i = index">
                <div
                    class="absolute sm:w-56 sm-h-72 md:w-64 md:h-80 transition-transform hover:scale-105 hover:-translate-y-10 cursor-pointer"
                    [ngStyle]="getCardStyle(i, playerCards.length)"
                    (click)="placeCard(i)">
                    <div 
                        class="relative inline-block bg-transparent  border-none p-0 m-0 shadow-none"
                        [ngClass]="{ 'invalid_card': animate_error()[i]}"
                    >
                        <app-svg-icon
                            class="pointer-events-none"
                            [src]="card.asset">
                        </app-svg-icon>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

    <!-- round finished overlay -->
    <div  *ngIf="this.gameState.roundWinner()" class="fixed inset-0 bg-black bg-opacity-80 flex items-center justify-center z-50">
        <div class="bg-white text-black p-6 rounded-lg shadow-lg text-center max-w-sm w-full">
            <h2 class="text-2xl font-bold mb-4">Round over!</h2>
            <p class="text-lg mb-4">
                👑 {{ winnerNickname }} hat gewonnen
            </p>
            <ul class="text-left text-sm sm:text-base mb-4 space-y-1">
            <li *ngFor="let player of playerRanking; let i = index">
                🏅 Platz {{ i + 1 }}: <strong>{{ player.nickname }}</strong> ({{ player.card_count }} Karten)
            </li>
            </ul>
            <div class="flex flex-col space-y-1 items-center">
                <button hlmBtn *ngIf="this.gameState.isHost()" (click)="resetRound()">Rematch</button>
                <button hlmBtn *ngIf="this.gameState.isHost()" class="mt-2" (click)="closeGame()">Close game</button>
            </div>
        </div>
    </div>
</div>
