<!-- user button -->
<div class="absolute top-4 right-4 z-50">
    <div class="pt-4 pr-4">
        <button hlmBtn aria-label="User menu" align="end" [brnMenuTriggerFor]="menu" class="py-3 px-6 shadow hover-bg-gray-100">
            <ng-icon name="lucideCircleUserRound" class="text-2xl" />
        </button>
    </div>
</div>

<!-- dropdown menu -->
<ng-template #menu>
    <hlm-menu class="w-56">
        <hlm-menu-label>My Account</hlm-menu-label>
        <hlm-menu-separator />
        <hlm-menu-group>
            <button hlmMenuItem>
                <ng-icon hlm name="lucideUser" hlmMenuIcon />
                <a href="/user-profile"></a>
                <span>Profile</span>
            </button>

            <button hlmMenuItem>
                <ng-icon hlm name="lucideSettings" hlmMenuIcon />
                <span>Settings</span>
            </button>

            <hlm-menu-separator />

            <button hlmMenuItem>
                <ng-icon hlm name="lucideLogOut" hlmMenuIcon />
                <span>Log out</span>
            </button>

        </hlm-menu-group>
    </hlm-menu>
</ng-template>

<!-- main content -->
<div class="flex flex-col items-center justify-center h-screen gap-6">
    <h1 class="text-center text-white text-4xl font-bold mb-4">Lobby of "Username" - Code: 123456</h1>
    <div class="flex items-center justify-center gap-12">
        <!-- user cards -->
        <div class="flex flex-col items-center justify-center p-4 border border-gray-300 rounded-lg bg-gray-100 shadow-md text-center min-w-[100px] w-64 h-80 text-3xl py-8">
            <p class="text-3xl">User1</p>
            <p class="text-lg">Wins</p>
            <p class="text-lg">Loses</p>
        </div>

        <div class="flex flex-col items-center justify-center p-4 border border-gray-300 rounded-lg bg-gray-100 shadow-md text-center min-w-[100px] w-64 h-80 text-3xl py-8">
            <p class="text-3xl">User2</p>
            <p class="text-lg">Wins</p>
            <p class="text-lg">Loses</p>
        </div>

        <div class="flex flex-col items-center justify-center p-4 border border-gray-300 rounded-lg bg-gray-100 shadow-md text-center min-w-[100px] w-64 h-80 text-3xl py-8">
            <p class="text-3xl">User3</p>
            <p class="text-lg">Wins</p>
            <p class="text-lg">Loses</p>
        </div>

        <div class="flex flex-col items-center justify-center p-4 border border-gray-300 rounded-lg bg-gray-100 shadow-md text-center min-w-[100px] w-64 h-80 text-3xl py-8">
            <p class="text-3xl">User4</p>
            <p class="text-lg">Wins</p>
            <p class="text-lg">Loses</p>
        </div>

    </div>
    <button hlmBtn class="font-bold text-lg py-2 px-4 w-34 h-12 mt-4 rounded">
        <a href="/gameplay">Start game</a>
    </button>
</div>