

<div class="flex flex-col items-center justify-center h-screen gap-6">
    <h1 class="text-center text-white text-4xl font-bold">ITP-CardGame</h1>
    <div class="flex flex-col gap-4">
        <button hlmBtn (click)="onLoginClick()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold text-lg py-2 px-4 w-34 h-12 rounded">Login</button>
        <button hlmBtn (click)="onRegisterClick()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold text-lg py-2 px-4 w-34 h-12 rounded">Register</button>

        <hlm-dialog>
            <button brnDialogTrigger hlmBtn (click)="onJoinLobbyClick()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold text-lg py-2 px-4 w-34 h-12 rounded">Join lobby</button>
            <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
                <hlm-dialog-header>
                    <h3 hlmDialogTitle>Join lobby anonymously</h3>
                    <p hlmDialogDescription>Only registered players can send codes.</p>
                </hlm-dialog-header>

                <div class="flex flex-col w-full max-w-sm space-y-4">
                    <input hlmInput [(ngModel)]="nickname" placeholder="Nickname" class="w-full" />
                    <input hlmInput [(ngModel)]="joinCode" placeholder="Gamecode" class="w-full" />
                    <button hlmBtn (click)="joinAnonymously()" class="w-full">Enter</button>
                </div>
            </hlm-dialog-content>
        </hlm-dialog>
        
        <button hlmBtn (click)="onAllCardsClick()" class="bg-blue-500 hover:bg-blue-700 text-white font-bold text-lg py-2 px-4 w-34 h-12 rounded">All cards</button>
    </div>
</div>