<div class="flex min-h-svh w-full items-center justify-center p-6 md:p-10">
    <div class="bg-white flex flex-col items-center justify-center p-6 border border-gray-300 rounded-lg shadow-md min-w-[250px] max-w-[400px] min-h-[200px] max-h-[430px] m-3">
        <section hlmCard>
            <div hlmCardHeader>
                <h3 class="text-3xl text-center" hlmCardTitle>Login</h3>
                <p hlmCardDescription></p>
            </div>
                <div hlmCardContent>
                    
                    <!-- Email -->
                    <label class="mb-1.5 block text-base" hlmLabel>Username</label>
                    <hlm-form-field class="w-full">
                        <input hlmInput [(ngModel)]="username" name="username" class="w-80 p-3 border border-gray-400 rounded-md" type="text" placeholder="Username" />
                    </hlm-form-field>
                    
                    <!-- Password -->
                    <div class="flex justify-between items-center mb-1.5 mt-6">
                        <label hlmLabel class="block text-base">Password</label>
                    </div>
                    <hlm-form-field class="w-full relative">
                        <input hlmInput [(ngModel)]="password" name="password" id="password" class="w-80 p-3 border border-gray-400 rounded-md" type="password" placeholder="Password" />
                        <!-- show password -->
                        <button type="button" class="absolute right-3 top-1/2 -translate-y-1/2 flex items-center justify-center text-gray-500 w-8 h-8"
                                (click)="togglePassword()">
                            <ng-icon [name]="showPassword ? 'lucideEye' : 'lucideEyeClosed'" />
                        </button>
                    </hlm-form-field>
                </div>
                <div hlmCardFooter class="justify-center">
                    <button hlmBtn type="submit" (click)="login()">Login</button>
                </div>
                <div class="mt-4 text-center text-sm m-2">
                    Don't have an account?
                    <a href="/register" class="underline underline-offset-4">
                        Sign up
                    </a>
                </div>
        </section>
    </div>
</div>