<div *ngIf="nav_visible()" class="absolute top-2 right-2 md:top-4 md:right-4 z-50">
    <div class="pt-4 pr-4">
        <button hlmBtn aria-label="User menu" align="end" [brnMenuTriggerFor]="menu"
            class="py-3 px-6 shadow hover-bg-gray-100">
            <ng-icon name="lucideCircleUserRound" class="text-2xl" />
        </button>
    </div>
</div>



<ng-template #menu>
    <hlm-menu *ngIf="loggedIn()" class="w-56">
        <hlm-menu-label>My Account</hlm-menu-label>
        <hlm-menu-separator />
        <hlm-menu-group>
            <a href="profile">
                <button hlmMenuItem>
                    <ng-icon hlm name="lucideUser" hlmMenuIcon />
                    <span>Profile</span>
                </button>
            </a>

            <a href="settings">
                <button hlmMenuItem>
                    <ng-icon hlm name="lucideSettings" hlmMenuIcon />
                    <span>Settings</span>
                </button>
            </a>


            <a href="#">
                <button hlmMenuItem>
                    <ng-icon hlm name="lucideGamepad2" hlmMenuIcon />
                    <span>New Game</span>
                </button>
            </a>


            <hlm-menu-separator />

            <a href="#">
                <button hlmMenuItem>
                    <ng-icon hlm name="lucideLogOut" hlmMenuIcon />
                    <span>Log out</span>
                </button>
            </a>


        </hlm-menu-group>
    </hlm-menu>



    <hlm-menu *ngIf="!loggedIn()" class="w-56">
        <hlm-menu-label>Start a Game?</hlm-menu-label>
        <hlm-menu-separator />
        <hlm-menu-group>
            <a href="login">
                <button hlmMenuItem>
                    <ng-icon hlm name="lucideLogIn" hlmMenuIcon />
                    <span>Log in</span>
                </button>
            </a>

            <a href="register">
                <button hlmMenuItem>
                    <ng-icon hlm name="lucideUserPlus" hlmMenuIcon />
                    <span>Register</span>
                </button>
            </a>

            <hlm-menu-separator />


            <a href="cards">
                <button hlmMenuItem>
                    <ng-icon hlm name="lucideLayers" hlmMenuIcon />
                    <span>Cards</span>
                </button>
            </a>

            <button hlmMenuItem>
                <ng-icon hlm name="lucideInfo" hlmMenuIcon />
                <span>Help</span>
            </button>

        </hlm-menu-group>
    </hlm-menu>
</ng-template>