<div class="flex flex-col items-center justify-center h-screen gap-6">
    <h1 class="text-center text-white text-4xl font-bold">Scissors Paper Rock - TCG</h1>
    <br/><br/>
    <div class="flex flex-col gap-4">
        <hlm-dialog>
            <button brnDialogTrigger hlmBtn (click)="onJoinLobbyClick()" class="bg-green-900 text-white hover:bg-green-700 font-bold text-lg py-2 px-4 w-54 h-22 rounded-15 cursor-pointer">Join Game</button>
            <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
                <hlm-dialog-header>
                    <h3 hlmDialogTitle>Join Game</h3>
                    <p hlmDialogDescription>Only registered players can send codes.</p>
                </hlm-dialog-header>

                <div class="flex flex-col w-full max-w-sm space-y-4">
                    <input hlmInput [(ngModel)]="nickname" placeholder="Nickname" class="w-full" />
                    <input hlmInput [(ngModel)]="joinCode" placeholder="Gamecode" class="w-full" />
                    <button hlmBtn (click)="joinAnonymously()" class="w-full">Enter</button>
                </div>
            </hlm-dialog-content>
        </hlm-dialog>
        <button hlmBtn (click)="onAllCardsClick()" class="bg-green-900 text-white hover:bg-green-700 font-bold text-lg py-2 px-4 w-54 h-22 rounded-15 cursor-pointer">All cards</button>
    </div>
</div>